@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col">
        <h1 class="display-4 text-center">Bem vindo!</h1>
        <h3 class="display-5 text-center">Web API de um Blog</h3>

        <div class="mx-auto" style="max-width: 400px;">
            <p class="text-center">Aplicação Web API que traz rotas do tipo GET para serem consumidas, simulando uma
                pequena funcionalidade de blog.</p>
        </div>
    </div>
</div>
<div class="mx-auto" style="max-width: 400px;">
    <hr>
</div>
<div class="row gap-3 d-flex justify-content-center">
    
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Interface do Blog</h5>
                <p class="card-text">Uma interface simples onde é consumida as Web APIs criadas nesta aplicação.</p>
                <a href="/Blog" class="btn btn-primary">Visitar</a>
            </div>
        </div>
    
    
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">APIs</h5>
                <p class="card-text">Listagem as APIs disponíveis para serem consumidas, pode-se testar cada uma.
                </p>
                <a href="/swagger/index.html" class="btn btn-primary">Ver APIs</a>
            </div>
        </div>
    
</div>
