<!-- Scrollable modal -->
<div class="modal fade" id="modal-artigo" tabindex="-1" aria-modal="true" role="dialog" style="display: none;">
    <div class="modal-dialog modal-dialog-scrollable modal-xl modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="display-6">Leitura</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <h1 id="titulo-artigo">Título do artigo artigo título</h1>
                    <img id="banner-artigo" src="" class="card-img-top" alt="...">
                </div>
                <div class="row" style="justify-content: center;" >
                     <div style="max-width: 50rem;" >
                        <div class="d-flex gap-2" style="margin-top: 1rem;margin-bottom: 1rem;">
                            <img id="foto-autor-artigo"src="" style="max-width:5rem; border-radius: 50%" alt="...">
                            <div style="align-self: center;">
                                <p style="color: #ADB5BD; margin: 0"><i class="fa-solid fa-user"></i> Autor: <span id="autor-artigo"></span></p>
                                <p style="color: #ADB5BD; margin: 0"><i class="fa-solid fa-calendar-days"></i> Publicação: <span id="data-artigo"></span></p>
                            </div>
                        </div>
                        <p id="texto-artigo" style="white-space: pre-line; line-height: 1.6; text-align: justify;"> </p>
                    </div>
                </div>       
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>