@{
    ViewData["Title"] = "Blog API";
    Layout = "_Layout";
}
<style>
    @*body{background-color:#fafafa;}*@
</style>

@section Scripts{
<script>
    $("#mn-autores").addClass("active");
</script>
<script src="~/js/Blog/Main.js"></script>
}

<partial name="_MenuBlog.cshtml"></partial>

<div class="row p-3">
    <form id="frm-procura-autores" class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Procurar autores" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
</div>
<div class="row gap-3 d-flex justify-content-center" id="feed-authors">

</div>
