@{
    ViewData["Title"] = "Blog API";
    Layout = "_Layout";
}
<style>
    @* body {
        background-color: #fafafa;
    } *@
</style>

@section Scripts{
<script>
    $("#mn-inicio").addClass("active");
</script>
<script src="~/js/Blog/Main.js"></script>
}

<partial name="_MenuBlog.cshtml"></partial>

<div class="row p-3">
    <form id="frm-procura-artigos" class="d-flex" onsubmit="return false">
        <input id="campo-busca-artigo" class="form-control me-2" type="search" placeholder="Procurar artigos" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
</div>
<div class="row gap-3 d-flex justify-content-center" id="feed-articles">

</div>
